language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t abdul/first-travis-dev -f Dockerfile.dev .

script:
  - docker run -e CI=true abdul/first-travis-dev npm run test -- --coverage
